{% extends "base.html" %}
{% block content %}
</h1>
<h1 class="title">
  Welcome, {{ name }}!
</h1>
      <form action="/profile" method="POST" class="page-wrapper">
        
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Monthly Calendar and Planner</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="") }}favicon_{{ current_day }}.png" id="favicon">
    <meta name="viewport" content="width=400" />
</head>
<body>

    <div id="statusbar" class="">Processing...</div>

    <div class="header">
        <input type="button" class="header-button" value="+"
            onclick="window.location='/{{ calendar_id }}/{{ year }}/{{ month}}/new_task'" title="New task" />
        <input type="button" class="header-button" value="&lt;" onclick="window.location='{{ previous_month_link }}'"
            title="Previous month" />
        <input type="button" class="header-button" value="&gt;" onclick="window.location='{{ next_month_link }}'"
            title="Next month" />
        <div class="current-date">
            {{ month_name }} {{ year }}
        </div>
        {% if month != current_month or year != current_year %}
            <div class="back-to-current">
                <a href="/{{ calendar_id }}/">back to current</a>
            </div>
        {% endif %}
        {% if display_view_past_button %}
            <input id="toggle-past-events" class="toggle-past-events" type="button" value="View Past" onclick="ToggleViewPastTasks();" />
        {% endif %}
    </div>

    <ul class="calendar-header">
        {% for weekday_header in weekdays_headers %}
            <li class="weekday-header">{{ weekday_header }}</li>
        {% endfor %}
    </ul>

    <ul class="calendar" id="calendar">
        {% for day in month_days %}
            <li
                {% if day.month != month %}
                    class="day othermonth"
                {% else %}
                    class="day"
                {% endif %}
                data-year="{{ day.year }}"
                data-month="{{ day.month }}"
                data-day="{{ day.day }}">

                {% if day.day == current_day and day.month == current_month and day.year == current_year %}
                        <span class="daynumber-current">
                {% else %}
                        <span class="daynumber">
                {% endif %}
                {{ day.day }}</span>
                <ul class="tasks">
                    {% if day.month|string in tasks and day.day|string in tasks[day.month|string] %}
                        {% for task in tasks[day.month|string][day.day|string]|sort(attribute="due_time") %}
                            <li
                                {% if day.month != month %}
                                    class="task greyed"
                                {% else %}
                                    class="task"
                                    style="background-color:{{ task["color"] }}"
                                {% endif %}
                                data-year="{{ day.year }}"
                                data-month="{{ day.month }}"
                                data-day="{{ day.day }}"
                                data-id="{{ task["id"] }}"
                                {% if "repetition_type" in task %}data-recurrent="1"{% endif %}>

                                {% if not task["is_all_day"] %}
                                    {{ task["due_time"] }}
                                {% endif %}
                                {{ task["title"] }}
                                <p class="accordion-hidden">
                                    {% if day.month == month %}
                                        <a href="#"
                                            data-id="{{ task["id"] }}"
                                            data-year="{{ day.year }}"
                                            data-month="{{ day.month }}"
                                            data-day="{{ day.day }}"
                                            data-title="{{ task["title"]|replace("\"","") }}"
                                            class="button smaller remove-task"
                                            title="Remove task">x</a>
                                        {% if "repetition_type" in task %}
                                            <a href="#"
                                                data-id="{{ task["id"] }}"
                                                data-year="{{ day.year }}"
                                                data-month="{{ day.month }}"
                                                data-day="{{ day.day }}"
                                                data-title="{{ task["title"]|replace("\"","") }}"
                                                class="button smaller hide-recurrent-task"
                                                title="Hide this task ocurrence">H</a>
                                        {% endif %}
                                            <a href="/{{ calendar_id }}/{{ day.year }}/{{ day.month }}/{{ day.day }}/{{ task["id"] }}{% if "repetition_type" in task %}?repeats=1{% endif %}"
                                                class="button smaller edit-task"
                                                title="Edit task">E</a>
                                    {% endif %}
                                    {% if "repetition_type" in task %}
                                        <span class="button smaller recurrent-task" title="Recurent task">R</span>
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
{% endblock %}
