{% extends "base.html" %}
{% block content %}
</h1>
<h1 class="title">
  Welcome, {{ name }}!
</h1>
      <form action="/profile" method="POST" class="page-wrapper">
        
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Monthly Calendar and Planner</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="") }}favicon_{{ current_day }}.png" id="favicon">
    <meta name="viewport" content="width=400" />
</head>
<body>

    <div id="statusbar" class="">Processing...</div>

</body>
</html>
{% endblock %}
