{% extends "base.html" %}
{% block content %}
</h1>
<h1 class="title">
  Welcome, {{ name }}!
</h1>
      <form action="/profile" method="POST" class="page-wrapper">
        
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Monthly Calendar and Planner</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="") }}favicon_{{ current_day }}.png" id="favicon">
    <meta name="viewport" content="width=400" />
</head>

{% block body %}
    <div class="row">
        <div class="twelve columns centered">
            <div id="cal">
                {% for month in cal %}
                {% set current_month = loop.index %}
                <div>
                    <h1>{{ ['January', 'Febuary', 'March', 'April',
                            'May', 'June', 'July', 'August',
                            'September', 'October', 'November', 'December'][loop.index0] }} {{ year }}</h1>
                    <table>
                        {% for week in month %}
                        <tr>
                            {% for date in week %}
                                {% if date.month == current_month %}
                                <td class="current-month">
                                {% else %}
                                <td class="past-month">
                                {% endif %}
                                {{ date.day }}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
  
</html>
{% endblock %}
